@model M_Suite.Models.GeoLocation

@{
    ViewData["Title"] = "Create";
    var geoTypes = new List<SelectListItem>
    {

        new SelectListItem { Value = "1", Text = "AREA" },
        new SelectListItem { Value = "2", Text = "Country" },
        new SelectListItem { Value = "3", Text = "Region" },
        new SelectListItem { Value = "4", Text = "City" }
    };
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}
    <div class="profile-content">
        <div class="profile-header">
            <h2>Create GeoLocation</h2>
        </div>

        <div class="profile-details">
            <div class="form-row">
                <div class="form-field">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="GlCode" class="control-label">
                                <span class="color-indicator color-red"></span>Code
                            </label>
                            <input asp-for="GlCode" class="form-control" />
                            <span asp-validation-for="GlCode" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="GlCdIdGeo" class="control-label">
                                <span class="color-indicator color-red"></span>Type
                            </label>
                            <select asp-for="GlCdIdGeo" asp-items="geoTypes" class="form-control">
                                <option value="">-- Select Type --</option>
                            </select>
                            <span asp-validation-for="GlCdIdGeo" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="GlGlId" class="control-label">
                                <span class="color-indicator color-green"></span>Parent Location
                            </label>
                            <select asp-for="GlGlId" class="form-control" asp-items="ViewBag.ParentLocations">
                                <option value="">-- Select Parent --</option>
                            </select>
                            <span asp-validation-for="GlGlId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="GlDescriptionLan1" class="control-label">
                                <span class="color-indicator color-red"></span>Description AR
                            </label>
                            <input asp-for="GlDescriptionLan1" class="form-control" />
                            <span asp-validation-for="GlDescriptionLan1" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="GlDescriptionLan2" class="control-label">
                                <span class="color-indicator color-red"></span>Description EN
                            </label>
                            <input asp-for="GlDescriptionLan2" class="form-control" />
                            <span asp-validation-for="GlDescriptionLan2" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="GlDescriptionLan3" class="control-label">
                                <span class="color-indicator color-red"></span>Description FR
                            </label>
                            <input asp-for="GlDescriptionLan3" class="form-control" />
                            <span asp-validation-for="GlDescriptionLan3" class="text-danger"></span>
                        </div>

                        <div class="actions">
                            <a asp-action="Index" class="btn btn-cancel">Cancel</a>
                            <button type="submit" class="btn btn-save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
