@model M_Suite.Models.BusinessUnit

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="~/css/business-units.css" />
}

<div class="profile-content">
    <div class="profile-header">
        <h2>Create BU</h2>
    </div>
    <div class="profile-details">
        <div class="form-row">
            <div class="form-field">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="BuCode" class="control-label">
                            <span class="color-indicator color-red"></span>Code
                        </label>
                        <input asp-for="BuCode" class="form-control" required />
                        <span asp-validation-for="BuCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuCpId" class="control-label">
                            <span class="color-indicator color-red"></span>Company
                        </label>
                        <select asp-for="BuCpId" class="form-control" asp-items="ViewBag.BuCpId" required>
                            <option value="">-- Select Company --</option>
                        </select>
                        <span asp-validation-for="BuCpId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuDescriptionLan1" class="control-label">
                            <span class="color-indicator color-red"></span>Description AR
                        </label>
                        <input asp-for="BuDescriptionLan1" class="form-control" required />
                        <span asp-validation-for="BuDescriptionLan1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuDescriptionLan2" class="control-label">
                            <span class="color-indicator color-red"></span>Description EN
                        </label>
                        <input asp-for="BuDescriptionLan2" class="form-control" />
                        <span asp-validation-for="BuDescriptionLan2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuDescriptionLan3" class="control-label">
                            <span class="color-indicator color-red"></span>Description FR
                        </label>
                        <input asp-for="BuDescriptionLan3" class="form-control" />
                        <span asp-validation-for="BuDescriptionLan3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuPath" class="control-label">
                            <span class="color-indicator color-blue"></span>BU Path
                        </label>
                        <input asp-for="BuPath" class="form-control" required />
                        <span asp-validation-for="BuPath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuBuId" class="control-label">
                            <span class="color-indicator color-red"></span>Parent BU
                        </label>
                        <select asp-for="BuBuId" class="form-control" asp-items="ViewBag.BuBuId">
                            <option value="">-- Select Parent BU --</option>
                        </select>
                        <span asp-validation-for="BuBuId" class="text-danger"></span>
                    </div>
                    <div class="actions">
                        <a asp-action="Index" class="btn btn-cancel">Cancel</a>
                        <button type="submit" class="btn btn-save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}